$primary: #6699cc
$primary-invert: #fff
$body-color: #fff
$link: $body-color
$link-hover: $primary
$black: #000
$family-sans-serif: 'Inter', sans-serif
$title-color: $body-color
$subtitle-color: $body-color

@import "~bulma/bulma"
@import "../scss/base.scss"
@import "../scss/navbar.scss"

