html {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    @supports (font-variation-settings: normal) {
        font-family: 'Inter var', sans-serif;
    }    
}

body {
    background-color: $black;
    color: $body-color;
    font-weight: 200;
    padding-top: 3.25rem;
}