.navbar {
    background-color: $black;
    .container {
        border-bottom: 1px solid $body-color;
    }

.navbar-menu {
    background-color: $black;
}
    .navbar-item {
        color: $body-color;
        font-weight: 400;
    }
    .site-title {
        color: $primary;
        text-transform: uppercase;
        &:before {
            color: $secondary;
            content: ('{;,;}');
            font-size: 20px;
            font-weight: 500;
            margin-right: 5px;
            margin-top: -5px;
        }
        &:hover {
            color: $body-color;
        }
    }
    .navbar-burger {
        background-color: $black;
        border: none;
        color: $body-color;
    } 
}